body {
    margin: 0 2% 2% 2%;
    font-size: 16pt;
    background-color: rgb(131, 201, 135);
    color: rgb(0, 0, 0);
}
h1{
    color: black;
    font-size: 24pt;
}
.header{
    display: flex;
    justify-content: flex-start;
}
.city{
    flex: 50%;
}
.update-button{
    border-radius: 10px;
}
.favorites{
    display: flex; 
    flex-wrap: wrap;
}
